body {
  background-color: ##3F3FBF;
  color: #FFFFFF;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

figcaption {
  font-size: 0.7em; /* 11px */
  line-height: 25px;
  color: #010101;
  margin: 10px
}

h1 {
  font-size: 2em; /* 32px */
    color: #010101;
    margin: 10px
}

h3 {
  font-size: 1.2em; /* 18px */
  line-height: 32px;
  color: #010101;
  margin: 20px
}

p {
  font size: 1em; /* 16px */
  line-height: 25px;
  color: black;
  margin: 10px
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:hover { color:#0070BC; } /* mouse over */
